/* .select2-container {
    height: calc(1.5em + .75rem + 2px) !important;
} */

/* .info-box .info-box-icon {
    border-radius: 0.25rem;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.875rem;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    width: 70px;
  } */


  .col-form-label{
    font-weight: bold
}